.form-inner {
  padding: 20px 50px 40px 50px;
  border-radius: 15px;
  border: black 2px solid !important;
}

/*login/register form style start*/

.form-group {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.form-group input {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  color: aqua;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.form-group input:focus {
  background: transparent;
  box-shadow: none;
}

.form-group .label-inputName {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: aquamarine;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
}
.form-group .label-inputName::after {
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.formName {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.form-group input:focus {
  outline: none;
}
.form-group input:focus + .label-inputName .formName,
.form-group input:valid + .label-inputName .formName {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: #179cc4;
}
.form-group input:focus + .label-inputName::after,
.form-group input:valid + .label-inputName::after {
  transform: translateX(0%);
}

/*login/register form style end*/

/*forgot password style start*/

.name-forgotPassword {
  color: rgb(54, 216, 244);
}
